openai
numpy
openpyxl
pydantic
typing_extensions
PyMuPDF
httpx
reportlab
sentence-transformers
transformers
huggingface_hub
tokenizers
safetensors
tiktoken
pillow
plotly
requests
sqlite-vec
torch
torchvision
scikit-learn
scipy
regex
sentencepiece
tqdm
fsspec
packaging
pyyaml
streamlit
streamlit-extras
streamlit-pdf
# mkdocs
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-autorefs
pymdown-extensions
black